// Icons from directory ""
%icon {
	background-repeat: no-repeat
}
.icon-Iphone,
.icon-Iphone\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 0;
}
.icon-Iphone-dims {
	width: 147px;
	height: 300px;
}
.icon-Iphone_rubbage_screen,
.icon-Iphone_rubbage_screen\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -300px;
}
.icon-Iphone_rubbage_screen-dims {
	width: 171px;
	height: 300px;
}
.icon-android-logo,
.icon-android-logo\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -600px;
}
.icon-android-logo-dims {
	width: 43px;
	height: 47px;
}
.icon-apple-logo,
.icon-apple-logo\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -647px;
}
.icon-apple-logo-dims {
	width: 47px;
	height: 56px;
}
.icon-check_mark,
.icon-check_mark\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -703px;
}
.icon-check_mark-dims {
	width: 22px;
	height: 16px;
}
.icon-diagram-fill,
.icon-diagram-fill\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -719px;
}
.icon-diagram-fill-dims {
	width: 240px;
	height: 277px;
}
.icon-facebook,
.icon-facebook\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -996px;
}
.icon-facebook-dims {
	width: 9px;
	height: 18px;
}
.icon-filter_image,
.icon-filter_image\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -1014px;
}
.icon-filter_image-dims {
	width: 169px;
	height: 300px;
}
.icon-htmlacademy,
.icon-htmlacademy\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -1314px;
}
.icon-htmlacademy-dims {
	width: 27px;
	height: 34px;
}
.icon-iphone_screen_3,
.icon-iphone_screen_3\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -1348px;
}
.icon-iphone_screen_3-dims {
	width: 171px;
	height: 300px;
}
.icon-iphone_screen_4,
.icon-iphone_screen_4\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -1648px;
}
.icon-iphone_screen_4-dims {
	width: 171px;
	height: 300px;
}
.icon-logotype-white-tablet,
.icon-logotype-white-tablet\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -1948px;
}
.icon-logotype-white-tablet-dims {
	width: 147px;
	height: 40px;
}
.icon-mail,
.icon-mail\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -1988px;
}
.icon-mail-dims {
	width: 18px;
	height: 13px;
}
.icon-menu-burger,
.icon-menu-burger\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -2001px;
}
.icon-menu-burger-dims {
	width: 50px;
	height: 24px;
}
.icon-microsoft-logo,
.icon-microsoft-logo\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -2025px;
}
.icon-microsoft-logo-dims {
	width: 44px;
	height: 41px;
}
.icon-phone,
.icon-phone\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -2066px;
}
.icon-phone-dims {
	width: 20px;
	height: 19px;
}
.icon-twitter,
.icon-twitter\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -2085px;
}
.icon-twitter-dims {
	width: 18px;
	height: 14px;
}
.icon-youtube,
.icon-youtube\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -2099px;
}
.icon-youtube-dims {
	width: 15px;
	height: 13px;
}